<div class="list-group">
  <div class=" mb-2 list-group-item bg-dark text-white" aria-current="true">
      <!-- <p class="mb-1">{{itemAddress.szUserID}}</p> -->
      <div class="d-flex w-100 justify-content-between">
          <a href="#" class="mb-1 h5 text-decoration-none">{{itemAddress.szFirstName}} {{itemAddress.szLastName}}</a>
          <button class="btn btn-sm btn-danger">x</button>
      </div>
      <p class="mb-1">{{itemAddress.szStreet}} {{itemAddress.szStreetNumber}}</p>
      <p class="mb-1">{{itemAddress.szPostalCode}} {{itemAddress.szCity}}</p>
      <small></small>
  </div>
</div>
