<form>
    <div class="row mb-2">
        <div class="col">
            <label class="form-label">UUID</label>
            <input class="form-control" />
        </div>
        <div class="col-2">
            <!--mnSequence-->
            <label class="form-label">Sequence</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            <!--szFirstName-->
            <label class="form-label">First Name</label>
            <input class="form-control" />
        </div>
        <div class="col">
            <!--szLastName-->
            <label class="form-label">Last Name</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <!--szStreet-->
            <label class="form-label">Street</label>
            <input class="form-control" />
        </div>
        <div class="col-4">
            <!--szStreetNumber-->
            <label class="form-label">Street Number</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-3">
            <!--szPostalCode-->
            <label class="form-label">Postal Code</label>
            <input class="form-control" />
        </div>
        <div class="col">
            <!--szCity-->
            <label class="form-label">City</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <!--szDateUpdate-->
        <div class="col-5">
            <label class="form-label">Create Date</label>
            <input class="form-control" />

        </div>
    </div>
</form>